Exemplo Exemplo com include/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:complexType name="typePessoa">
            <xs:sequence>
                <xs:element name="primeiroNome" type="xs:string"/>
                <xs:element name="ultimoNome" type="xs:string"/>
            </xs:sequence>
             <xs:attribute name="genero" type="typeGenero"/>
    </xs:complexType>
    
    <xs:simpleType name="typeGenero">
        <xs:restriction base="xs:string">
            <xs:enumeration value = "Masculino" />
            <xs:enumeration value = "Feminino" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
